<!DOCTYPE html>
<html>
<head>
	<title>layout</title>
	<meta charset="utf-8">
	
	<link rel="stylesheet" type="text/css" href="css/style.css">

	<style type="text/css">
	/*	h1{
			color:blue;
		}
		h2{
			color:red;
		}*/

	</style>
</head>
<body>

<nav>
	<ul>
		<li><a href="?page=index">Home</a></li>
		<li><a href="?page=livres">Livres</a></li>
		<li><a href="?page=apropos">Propos</a></li>
		<li><a href="?page=contact">Contact</a></li>

	</ul>

</nav>


<h1>Day la trang layout</h1>
{% block content %}

{% endblock %}

<!-- {% block contact %}
<p>Day la noi dung contact tu layout</p>
{% endblock %}
 -->
<script src=""></script>

</body>
</html>